<div class="app-layout-container">

  <header class="top-header">
    <div class="header-logo-section">
      <span class="logo-v">V</span><span class="logo-nexus">Nexus</span>
    </div>
    <div class="user-info">
      <img src="" alt="User Avatar" class="avatar">
      <div class="user-details">
        <span class="user-name">Aman Aggarwal</span>
        <span class="user-role">Software Developer</span>
      </div>
      <button mat-icon-button class="dropdown-arrow">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </header>

  
  <mat-sidenav-container class="dashboard-container">
    
    
    <mat-sidenav mode="side" opened class="sidenav" [class.expanded]="isSidenavExpanded">
      
      
      <button mat-fab class="expand-button" (click)="toggleSidenav()">
        <mat-icon>{{ isSidenavExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
      
     
      <nav class="nav-list">
        <ul>
          <ng-container *ngFor="let item of navItems">
            <li *ngIf="!item.children || item.children.length === 0">
              <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
                <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
                <span class="nav-text">{{ item.name }}</span>
              </a>
            </li>
    
            <li *ngIf="item.children && item.children.length > 0">
              <a class="nav-link" (click)="toggleMenu(item.name)" [class.active]="activeMenu === item.name">
                <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
                <span class="nav-text">{{ item.name }}</span>
                <mat-icon class="chevron-icon">{{ activeMenu === item.name ? 'expand_less' : 'expand_more' }}</mat-icon>
              </a>
              <ul class="submenu" [class.open]="isSidenavExpanded && activeMenu === item.name">
                <li *ngFor="let child of item.children">
                    <a class="nav-link sub-link" [routerLink]="child.route" routerLinkActive="active-child">
                        <span class="nav-text">{{ child.name }}</span>
                    </a>
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </nav>

      <div class="sidenav-footer">
        <a class="nav-link power-button" (click)="logout()">
          <mat-icon class="nav-icon">power_settings_new</mat-icon>
          <span class="nav-text">Logout</span>
        </a>
      </div>

    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <main class="content-body">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
    
  </mat-sidenav-container>

</div>